.fab {
  font-size: 40px;
  color: orange;
}
.foot-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}
.footer {
  max-width: 100%;
  background-color: var(--color-dark-blue);
}
.foot-link {
  padding: 0 10px;
  outline: none;
}
.foot-container h2 {
  padding-bottom: 15px;
}
.info-block {
  color: var(--color-white);
}
@media screen and (max-width: 540px) {
  .foot-container {
    max-width: 235px;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .block-img {
    padding-top: 10px;
  }
}
