.working {
}
.working-container {
}
.working-row {
  text-align: center;
  justify-content: center;
}
.working-tittle {
  padding-top: 60px;
}
.working-text {
  padding: 60px 0;
}
.outer-wrapper {
  padding-bottom: 60px;
  min-width: 280px;
}
.inner-wrapper {
  padding-top: calc(100% * 9 / 16);
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
